<div class="w-full h-full">
  <!-- header -->
  <div class="justify-between flex items-center w-full py-5 relative z-50">
    <div></div>
    <div class="flex">
      <img
        src="assets/pokemon.png "
        alt="Pokedéx"
        style="margin-right: 50px; height: 10vh"
      />
      <input id="inputSearch" type="text" placeholder="  Pesquisar..." />
    </div>
    <div>
     </div>
  </div>

  <!-- apartir daqui vou mostrar meus resultados -->

  <div class="content-container">
    <div class="namePokemon" *ngFor="let pokeitem of pokeList; let i = index">
    

    </div>


    <div class="ListaPokemon" *ngFor="let pokeitem of pokeList; let i = index">
      <img
        [src]="pokeitem.ThumbnailImage"
        height="200"
        width="200"
        alt="Imagem Pokemon"
        class="mr20"
        
      />
      <p class="text-name">{{pokeitem.name}}</p>

    </div>
  </div>
</div>
<!-- [src]="pokeitem.name" -->